* {
  box-sizing: border-box;
}

.quilt-display {
  width: 80vw;
  height: 70vh;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 4px var(--main-text-color) solid;
  border-radius: 5px;
  background-color: var(--off-white);
  padding: 2%;
}

.border-block,
.border-row {
  background-color: var(--border-color);
}

.quilt-row {
  display: flex;
}

.quilt-container {
  margin: 0 auto;
}

.striped-block {
  width: 120px;
  height: 60px;
  background-image: url("stripeBlock.PNG");
  background-size: 120px 60px;
}
