.tagline {
  font-style: italic;
  text-align: center;
}

.landingBanner {
  width: 50%;
  background-color: var(--light-bg-color);
}

h3 {
  font-size: 25px;
}

.one {
  text-align: left;
}

.three {
  text-align: end;
}

.block-header {
  display: inline-block;
}

.button-section > * {
  padding: 1%;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.code-access {
  margin: 2%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

