.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px var(--main-text-color) solid;
  border-radius: 5px;
  padding: 2%;
  margin: 3%;
  background-color: var(--light-bg-color);
}

h2 {
  font-size: 25px;
}

dl {
  display: flex;
}

.fabric-item {
  padding: 0 10px;
}

dt {
  padding: 5px 0;
  font-style: italic;
}
