.input-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.customizer-pannel, .results {
    width: 80vw;
    height: 35vh;
}

.pattern-customizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 900px) {
    .input-results {
        flex-direction: row;
    }

    .customizer-pannel, .results {
        width: 35vw;
        height: 45vh;
    }
  }